 <!--Document Section---->
        <div id="tabstrip-docs" data-role="view" data-before-show="app.documentsetting.viewModel.documentBeforeShow" data-show="app.documentsetting.viewModel.documentShow" data-after-show="app.documentsetting.viewModel.documentAfterShow" data-model="app.documentsetting.viewModel">

            <div data-role="header" class="docs-header">
                <div data-role="navbar">
                    <span data-role="view-title">
                    	<a class="docs-back" href="#tabstrip-home" data-role="button" data-bind="invisible: showfilter">Back</a>
                    	<a class="docs-back" data-bind="click: setVisibilty, visible: showfilter">Back</a>
                    	<p class="docs-docu" data-bind="invisible: showfilter">Documents</p>
                    	<div class="searchForm" data-bind="invisible: showfilter">
                    		<a data-bind="click: setVisibilty"class="docs-search">search</a>
                    		<a data-bind="click: refreshView,invisible: showrefreshLoading" class="refresh-com docs-refresh">refresh</a>
                            <a data-bind="click: refreshView,visible: showrefreshLoading" class="refresh-loading docs-refresh">refresh</a>
                    		<a data-align="right" data-rel="popover" href="#popover-docs" data-role="button" class="docs-popup"></a>
                    	</div>
                    	<div id="docs-filter" data-bind="visible: showfilter"></div>
                    </span>
                </div>
            </div>

            <div class="documentContent" data-role="content">
                <a class="inner-docs-back"   data-bind="click:gobackDocsPage,visible: innerPage"><span>Documents</span></a>
            	<div class="km-listview-wrapper"><ul class="list-edit-listview"></ul></div> 
            </div>
            <div data-role="popover" class="popupBox" id="popover-docs" data-popup='{"height": "10em", "width": "12em"}'>
                <div data-role="view" data-model="app.documentsetting.viewModel">
                    <ul data-role="listview">
                        <li data-bind="click: newFolderModal" >New Folder</li>
                        <li data-bind="click: onSettingPage">Settings</li>
                        <li data-bind="click: setUserLogout">Logout</li>
                    </ul>
                </div>
            </div>
            <!--folder events popup-->
            <div id="tabstrip-folder-events-popup"  class="tabstrip-ff-events-popup" data-role="popover"   data-popup='{"height": "4.8em", "width": "100%"}'>
                <div data-role="view" data-model="app.documentsetting.viewModel">
                    <ul>
                        <li>
                        	<a data-role="button" class="delete" data-src ="pop" data-bind="click: deleteFolder">Delete</a>
                        </li>
                        <li>
                        	<a data-role="button" class="rename" data-src ="pop" data-bind="click: renameFolder">Rename</a>
                        </li>
                        <li>
  
                            <a data-role="button" class="move" data-src ="pop" data-checkStatus="folder" data-bind="click: moveFolder">Move</a>
                        </li>
                    </ul> 
                </div>
            </div>
            <!--file events popup-->
            <div id="tabstrip-files-events-popup"  class="tabstrip-ff-events-popup" data-role="popover"   data-popup='{"height": "4.8em", "width": "100%"}'>
            <div data-role="view" data-model="app.documentsetting.viewModel">
                <ul>
                <li>
            		<a data-role="button"  class="share" data-src ="pop" data-click="closePopOver" data-bind="click: shareVia">Share via</a>
            	</li>
                 <li class="export">
            		<a data-role="button" class="export" data-src ="pop"  data-bind="click: exportFile">Export</a>
            	</li>
                <li>
            		<a data-role="button" class="move" data-src ="pop" data-checkStatus="files" data-bind="click: moveFolder">Move</a>
            	</li> 
            	<li class="more">
                 	<a data-rel="popover" href="#tabstrip-files-events" class="more" data-click="closePopOver" data-role="button">More</a>
                </li>
            </ul>  
        </div></div>
            <!--shared file events popup-->
            <div id="tabstrip-share-files-file-events-popup"  class="tabstrip-ff-events-popup" data-role="popover"   data-popup='{"height": "4.8em", "width": "100%"}'>
                <div data-role="view" data-model="app.documentsetting.viewModel">
                    <ul>
                	<li>
                     	<a data-role="button"  class="delete" data-src ="pop" data-bind="click: deleteFile">Delete</a>
                    </li>
                	<li>
                		<a data-role="button"  class="move" data-src ="pop" data-checkStatus="files" data-bind="click: moveFolder">Move</a>
                	</li>
                    <li class="export">
                		<a data-role="button"  class="export" data-src ="pop"  data-bind="click: exportFile">Export</a>
                	</li>
                    <li>
                		<a data-role="button"  class="share" data-src ="pop" data-click="closePopOver" data-bind="click: shareVia">Share via</a>
                	</li>
                </ul>  
            	</div>
            </div>
        </div>
<!--folder events-->
        <div id="tabstrip-folder-events" class="folder-events modal-mess-Popup newFlder" data-role="modalview"   style="width:100%" data-model="app.documentsetting.viewModel">
            <div class="closeBt clearfix">
                <span class="folderName"></span>
                <a data-role="button" data-aligh="right"  data-click="closeModalView">Close</a>
               </div>
            <ul>
            	<li>
                 	<a data-role="button"  data-bind="click: deleteFolder">Delete</a>
                </li>
            	<li>
            		<a data-role="button"  data-bind="click: renameFolder">Rename</a>
            	</li>
            	<li>
            		<a data-role="button"  data-checkStatus="folder" data-bind="click: moveFolder">Move</a>
            	</li>
            </ul>  
        </div>
<!--share folder events-->
        <div id="tabstrip-share-folder-events" class="folder-events modal-mess-Popup shareFolder" data-role="modalview"   style="width:100%" data-model="app.documentsetting.viewModel">
            <div class="closeBt clearfix">
                <span class="folderName"></span>
                <a data-role="button" data-aligh="right"  data-click="closeModalView">Close</a>
               </div>
            <ul>
            	<li>
                 	<a data-role="button"  data-bind="click: deleteFolder">Delete</a>
                </li>
            </ul>  
        </div>
<!--files events-->
        <div id="tabstrip-files-events" class="folder-events modal-mess-Popup " data-role="modalview"   style="width:100%" data-model="app.documentsetting.viewModel">
            <div class="closeBt clearfix">
                <span class="folderName"></span>
                <a data-role="button" data-aligh="right"  data-click="closeModalView">Close</a>
               </div>
            <ul>
            	<li>
                 	<a data-role="button"  data-bind="click: deleteFile">Delete</a>
                </li>
            	<li>
            		<a data-role="button"  data-bind="click: renameFile">Rename</a>
            	</li>
            	<li>
            		<a data-role="button"  data-checkStatus="files" data-bind="click: moveFolder">Move</a>
            	</li>
                <li>
            		<a data-role="button"  data-bind="click: exportFile">Export</a>
            	</li>
                <li>
            		<a data-role="button"  data-bind="click: shareVia">Share via</a>
            	</li>
            </ul>  
        </div>
<!--share files events-->
        <div id="tabstrip-share-files-file-events" class="folder-events modal-mess-Popup share-files-file" data-role="modalview"    style="width:100%" data-model="app.documentsetting.viewModel">
            <div class="closeBt clearfix">
                <span class="folderName"></span>
                <a data-role="button" data-aligh="right"  data-click="closeModalView">Close</a>
               </div>
            <ul>
            	<li>
                 	<a data-role="button"  data-bind="click: deleteFile">Delete</a>
                </li>
            	<li>
            		<a data-role="button"  data-checkStatus="files" data-bind="click: moveFolder">Move</a>
            	</li>
                <li>
            		<a data-role="button"  data-bind="click: exportFile">Export</a>
            	</li>
                <li>
            		<a data-role="button"  data-bind="click: shareVia">Share via</a>
            	</li>
            </ul>  
        </div>
<!--share files events for ios-->
        <div id="tabstrip-share-files-file-events-ios" class="folder-events modal-mess-Popup share-files-file-ios" data-role="modalview"    style="width:100%" data-model="app.documentsetting.viewModel">
            <div class="closeBt clearfix">
                <span class="folderName"></span>
                <a data-role="button" data-aligh="right"  data-click="closeModalView">Close</a>
               </div>
            <ul>
            	<li>
                 	<a data-role="button"  data-bind="click: deleteFile">Delete</a>
                </li>
            	<li>
            		<a data-role="button"  data-checkStatus="files" data-bind="click: moveFolder">Move</a>
            	</li>
                <li>
            		<a data-role="button"  data-bind="click: shareVia">Share via</a>
            	</li>
            </ul>  
        </div>
<!--share Folder  file events-->
        <div id="tabstrip-share-folders-file-events" class="folder-events modal-mess-Popup share-folders-file" data-role="modalview"    style="width:100%" data-model="app.documentsetting.viewModel">
            <div class="closeBt clearfix">
                <span class="folderName"></span>
                <a data-role="button" data-aligh="right"  data-click="closeModalView">Close</a>
               </div>
            <ul>
            	<li>
            		<a data-role="button"  data-bind="click: exportFile">Export</a>
            	</li>
                <li>
            		<a data-role="button"  data-bind="click: shareVia">Share via</a>
            	</li>
            </ul>  
        </div>
<!--share Folder  file events for ios-->
        <div id="tabstrip-share-folders-file-events-ios" class="folder-events modal-mess-Popup share-folders-file-ios" data-role="modalview"    style="width:100%" data-model="app.documentsetting.viewModel">
            <div class="closeBt clearfix">
                <span class="folderName"></span>
                <a data-role="button" data-aligh="right"  data-click="closeModalView">Close</a>
               </div>
            <ul>
            	<li>
            		<a data-role="button"  data-bind="click: shareVia">Share via</a>
            	</li>
            </ul>  
        </div>
<!--files events for ios-->
        <div id="tabstrip-files-events-ios" class="folder-events modal-mess-Popup fileEvnt" data-role="modalview"   style="width:100%" data-model="app.documentsetting.viewModel">
            <div class="closeBt clearfix">
                <span class="folderName"></span>
                <a data-role="button" data-aligh="right"  data-click="closeModalView">Close</a>
               </div>
            <ul>
            	<li>
                 	<a data-role="button"  data-bind="click: deleteFile">Delete</a>
                </li>
            	<li>
            		<a data-role="button"  data-bind="click: renameFile">Rename</a>
            	</li>
            	<li>
            		<a data-role="button"  data-checkStatus="files" data-bind="click: moveFolder">Move</a>
            	</li>
                 <li>
            		<a data-role="button"  data-bind="click: shareVia">Share via</a>
            	</li>
            </ul>  
        </div>
<!--Add New Folder-->
        <div id="tabstrip-new-folder" class="folder-events modal-mess-Popup newFlder" data-role="modalview"   style="width:100%" data-model="app.documentsetting.viewModel">
            <div class="closeBt clearfix">
            	<span class="newfolder">New Folder</span>
            </div>
            <form id="new-folder-form" class="scheduleSection">
            	<input type="text" data-bind="value: newFolderName" class="new-folder-field" placeholder="New Folder"/>
            	<div class="buttonArea">
            		<input type="submit" data-role="button" data-click="closeModalView" value="Cancel" />
            		<input type="submit"  data-role="button" data-bind="click: newFolderCreate" class="new-folder-create" value="Create" />
            	</div>
            </form>
        </div>
<!--Delete Folder-->
        <div id="tabstrip-delete-folder" class="folder-events modal-mess-Popup newFlder" data-role="modalview"   style="width:100%" data-model="app.documentsetting.viewModel">
            <div class="closeBt clearfix">
            	<span class="folderN">Notification</span>
            </div>
            <form id="new-folder-form" class="scheduleSection">
            	<p>Are you sure want to delete this folder?</p>
            	<div class="buttonArea">
            		<input type="submit" data-role="button" data-click="closeModalView" value="Cancel" />
            		<input type="submit" data-role="button" data-bind="click: thisFolderDelete" class="new-folder-create" value="Delete" />
            	</div>
            </form>
        </div>
<!--Delete Files-->
        <div id="tabstrip-delete-files" class="folder-events modal-mess-Popup newFlder" data-role="modalview"  style="width:100%" data-model="app.documentsetting.viewModel">
            <div class="closeBt clearfix">
            	<span class="folderN">Notification</span>
            </div>
            <form id="new-folder-form" class="scheduleSection">
            	<p>Are you sure want to delete this file?</p>
            	<div class="buttonArea">
            		<input type="submit" data-role="button" data-click="closeModalView" value="Cancel" />
            		<input type="submit" data-role="button" data-bind="click: thisFileDelete" class="new-folder-create" value="Delete" />
            	</div>
            </form>
        </div>
<!--Rename Folder-->
        <div id="tabstrip-rename-folder" class="folder-events modal-mess-Popup newFlder" data-role="modalview"  style="width:100%" data-model="app.documentsetting.viewModel">
            <div class="closeBt clearfix">
            	<span class="newfolder">Rename Folder</span>
            </div>
            <form id="new-folder-form" class="scheduleSection">
            	<input type="text" data-bind="value: renameFolderName" class="new-folder-field" placeholder="Rename Folder"/>
            	<div class="buttonArea">
            		<input type="submit" data-role="button" data-bind="click:thisFolderRenameCancle" value="Cancel" />
            		<input type="submit" data-role="button" data-bind="click: thisFolderRename" class="new-folder-create" value="Rename" />
            	</div>
            </form>
        </div>
<!--Rename File-->
        <div id="tabstrip-rename-file" class="folder-events modal-mess-Popup newFlder" data-role="modalview"  style="width:100%" data-model="app.documentsetting.viewModel">
            <div class="closeBt clearfix">
            	<span class="newfolder">Rename File</span>
            </div>
            <form id="new-folder-form" class="scheduleSection">
            	<input type="text" data-bind="value: renameFileName" class="new-folder-field" placeholder="Rename File"/>
            	<div class="buttonArea">
            		<input type="submit" data-role="button" data-bind="click:thisFileRenameCancle" value="Cancel" />
            		<input type="submit" data-role="button" data-bind="click: thisFileRename" class="new-folder-create" value="Rename" />
            	</div>
            </form>
        </div>
<!--Download File--> 
        <div id="tabstrip-download-file" class="folder-events modal-mess-Popup downloadClass" data-role="modalview"  data-width="100%" data-height="90%" data-model="app.documentsetting.viewModel">
            <div class="downloadWrpr">
                <a data-role="button"  data-bind="click:closeFileDownloadProcess" data-aligh="right">Close</a>
                <div class="download-file-name" ></div>
                <div id="status" class="status">status</div>
            </div>
        </div>
<!-- Matches page template -->
        <script type="text/x-kendo-template" id="docs-template">
           
             #if(typeof docType !== "undefined" || typeof docType !== "undefined"){#
                #if(docType === "Folder"){#
                    #if(name === "Shared Files" || name === "Shared Folders"){#
                    	<table cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" align="left">
                        	<tr>
                            	<td data-id="folder" class="sharedfolder"></td>
                                <td data-id="folder"> #: name #</td>
                                <td></td>
                            </tr>
                        </table>
                    #}else{#
                   	 <table cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" align="left">
                        	<tr>
                            	<td class="#: docType #" data-id="folder"></td>
                                <td data-id="folder"> #: name #</td>
                                <td><a data-align="right"  data-text ="#: name #" data-id="#: data.id #" data-download="#: data.downloadLink #" data-click="setFolderClick" data-rel="popover" href="\#tabstrip-folder-events-popup" data-role="button" class="docs-popup folder"></a></td>
                            </tr>
                        </table>
                    #}#
                #}else{#
                	# var ext = getFileExtension(name) #
                	 <table cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" align="left">
                        	<tr>
                            	<td data-id="files" class="#= ext # default-icon"></td>
                                <td data-id="files"> #: name #</td>
                                <td><a data-align="right" data-text ="#: name #" data-id="#: data.id #" data-download="#: data.downloadLink #" data-click="setFileClick" data-rel="popover" href="\#tabstrip-files-events-popup" data-role="button" class="docs-popup file"></a></td>
                            </tr>
                        </table> 
                #}#
          	#}#
           
            #function getFileExtension(filename)
            {
                var ext = /^.+\.([^.]+)$/.exec(filename);
                return ext === null ? "" : ext[1];
            }#
            
        </script>
        <script> 
            function closePopOver(e) {
			e.sender.element.closest("[data-role=popover]").data("kendoMobilePopOver").close();

            }
            function setFolderClick(e)
            {
                var fdata = e.button.data();           
                sessionStorage.currentFId = fdata.id;
                sessionStorage.currentFName =fdata.text;
            }
            function setFileClick(e)
            {
                var fdata = e.button.data();           
                sessionStorage.currentFileId = fdata.id;
                sessionStorage.downloadLink = $.trim(fdata.download);
                sessionStorage.currentFileName = fdata.text;
                $('.folderName').html('');
                if(sessionStorage.currentFileName.length >= 20)
                {
                	$('.folderName').append('<span>'+sessionStorage.currentFileName.substring(0, 15)+'...</span>'); 
                }
                else
                {
                	$('.folderName').append('<span>'+sessionStorage.currentFileName+'</span>');
                }
            }
        </script>